<!DOCTYPE html>
<html>
<head>
  <title>ZombieTwitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to image_tag('/assets/twatter.jpg'), all_tweets_path %>
	<!--img src ="/assets/twatter.jpg"-->
<p> Which Zombie Are You? </p>
<%= select("session", "zombie_id", Zombie.all.collect {|z| [z.name]}, {:prompt => 'Select Zombie'}) %>
<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
